<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.pfafman.nsLogger"
      version="0.1.0">
    <name>NSLogger</name>
    <description>Log messages to NSLog on iOS</description>
    <license>MIT</license>
    <keywords>phonegap,ios,logging</keywords>
 
    <js-module src="www/nsLogger.js" name="NSLogger">
        <clobbers target="NSLogger" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NSLogger">
                <param name="ios-package" value="NSLogger" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/NSLogger.h" />
        <source-file src="src/ios/NSLogger.m" />
    </platform>
</plugin>